<!--Projects-->
<div class="container mt-5" id="projects">
  <div class="row d-flex justify-content-center">
    <div class="col-3">
      <h1>Projects</h1>
    </div>

    <div class="card text-center">
      <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
          <li class="nav-item">
            <a class="nav-link active" aria-current="true" href="#">All</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Web</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">C#</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Youtube</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Unity</a>
          </li>
        </ul>
      </div>

      <div class="card-body">
        <div class="row">
          <!-- PROJECT CARD -->
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-3">
            <div class="card" style="width: 18rem">
              <div class="card-body">
                <h5 class="card-title">DEBIS Redesign</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">
                  Bootstrap v5.3.7
                </h6>
                <p class="card-text">
                  This project was developed to update the old design of DEBIS
                  (Dokuz Eylül Information Processing System) with
                  Bootstrapv5.3.7 technology, giving it a new and modern look.
                </p>
                <a
                  href="https://emekofficial.github.io/DEBISredesign/"
                  class="card-link"
                  ><button type="button" class="btn btn-outline-danger">
                    RUN
                  </button></a
                >
                <a
                  href="https://github.com/EmekOfficial/DEBISredesign"
                  class="card-link"
                  ><button type="button" class="btn btn-outline-info">
                    Github
                  </button></a
                >
              </div>
              <div class="card-footer text-body-secondary">17.07.2025</div>
            </div>
          </div>

          <!-- PROJECT CARD -->
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-3">
            <div class="card" style="width: 18rem">
              <div class="card-body">
                <h5 class="card-title">Emek Blog</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">
                  Bootstrap v5.3.7
                </h6>
                <p class="card-text">
                  This project was developed for a blog running on Github Pages
                  using JavaScript. It has a simple and functional structure
                  built using modern tools.
                </p>
                <a
                  href="https://emekofficial.github.io/Emek-Blog/"
                  class="card-link"
                  ><button type="button" class="btn btn-outline-danger">
                    RUN
                  </button></a
                >
                <a
                  href="https://github.com/EmekOfficial/Emek-Blog"
                  class="card-link"
                  ><button type="button" class="btn btn-outline-info">
                    Github
                  </button></a
                >
              </div>
              <div class="card-footer text-body-secondary">09.04.2025</div>
            </div>
          </div>

          <!-- PROJECT CARD -->
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-3">
            <div class="card" style="width: 18rem">
              <div class="card-body">
                <h5 class="card-title">Emek CV 2</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">
                  Bootstrap v5.3
                </h6>
                <p class="card-text">Redesigned</p>
                <a href="#" class="card-link"
                  ><button type="button" class="btn btn-outline-danger">
                    RUN
                  </button></a
                >
                <a
                  href="https://github.com/EmekOfficial/EmekCV2"
                  class="card-link"
                  ><button type="button" class="btn btn-outline-info">
                    Github
                  </button></a
                >
              </div>
              <div class="card-footer text-body-secondary">16.03.2025</div>
            </div>
          </div>

          <!-- PROJECT CARD -->
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-3">
            <div class="card" style="width: 18rem">
              <div class="card-body">
                <h5 class="card-title">Korkutay</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">
                  Artificial Intelligence Youtuber
                </h6>
                <p class="card-text">
                  A YouTube channel that tells about Turkish culture and Turkish
                  history with artificial intelligence
                </p>
                <a href="https://www.youtube.com/@Korkutai" class="card-link"
                  ><button type="button" class="btn btn-outline-danger">
                    Youtube
                  </button></a
                >
              </div>
              <div class="card-footer text-body-secondary">17.02.2025</div>
            </div>
          </div>

          <!-- PROJECT CARD -->
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-3">
            <div class="card" style="width: 18rem">
              <div class="card-body">
                <h5 class="card-title">Emek CV</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">
                  Bootstrap v5.3
                </h6>
                <p class="card-text">My simple CV website</p>
                <a
                  href="https://emekofficial.github.io/EmekCVOLD/"
                  class="card-link"
                  ><button type="button" class="btn btn-outline-danger">
                    RUN
                  </button></a
                >
                <a
                  href="https://github.com/EmekOfficial/EmekCVOLD"
                  class="card-link"
                  ><button type="button" class="btn btn-outline-info">
                    Github
                  </button></a
                >
              </div>
              <div class="card-footer text-body-secondary">09.01.2025</div>
            </div>
          </div>

          <!-- PROJECT CARD -->
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-3">
            <div class="card" style="width: 18rem">
              <div class="card-body">
                <h5 class="card-title">Cube Runner</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">
                  Unity Game Engine
                </h6>
                <p class="card-text">
                  I DID IT TO LEARN SOME MECHANICS IN UNITY
                </p>
                <a href="https://emektr.itch.io/cube-runner" class="card-link"
                  ><button type="button" class="btn btn-outline-warning">
                    itch.io
                  </button></a
                >
              </div>
              <div class="card-footer text-body-secondary">13.07.2024</div>
            </div>
          </div>

          <!-- PROJECT CARD -->
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-3">
            <div class="card" style="width: 18rem">
              <div class="card-body">
                <h5 class="card-title">Medium Clone</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">
                  Bootstrap v4.5
                </h6>
                <p class="card-text">
                  A simple Medium clone I created using bootstrap v4.5
                </p>
                <a
                  href="https://github.com/EmekOfficial/MediumClone"
                  class="card-link"
                  ><button type="button" class="btn btn-outline-info">
                    Github
                  </button></a
                >
              </div>
              <div class="card-footer text-body-secondary">19.02.2024</div>
            </div>
          </div>

          <!-- PROJECT CARD -->
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-3">
            <div class="card" style="width: 18rem">
              <div class="card-body">
                <h5 class="card-title">Bootstrap Music Page</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">
                  Bootstrap v4.5
                </h6>
                <p class="card-text">
                  A responsive music site created with a gridview structure
                  using only Bootstrap v4.5
                </p>
                <a
                  href="https://github.com/EmekOfficial/Bootstrapmusicpage"
                  class="card-link"
                  ><button type="button" class="btn btn-outline-info">
                    Github
                  </button></a
                >
              </div>
              <div class="card-footer text-body-secondary">09.02.2024</div>
            </div>
          </div>

          <!-- PROJECT CARD -->
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-3">
            <div class="card" style="width: 18rem">
              <div class="card-body">
                <h5 class="card-title">Responsive Simple Site</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">
                  Bootstrap v4.5
                </h6>
                <p class="card-text">
                  A responsive trial site created with a gridview structure
                  using only Bootstrap v4.5
                </p>
                <a
                  href="https://github.com/EmekOfficial/simpleBootstrap4.5"
                  class="card-link"
                  ><button type="button" class="btn btn-outline-info">
                    Github
                  </button></a
                >
              </div>
              <div class="card-footer text-body-secondary">06.02.2024</div>
            </div>
          </div>

          <!-- PROJECT CARD -->
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-3">
            <div class="card" style="width: 18rem">
              <div class="card-body">
                <h5 class="card-title">Responsive CSS3 Portfolio</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">
                  HTML5 and CSS3
                </h6>
                <p class="card-text">
                  A responsive trial portfolio site created with a gridview
                  structure using only HTML5 and CSS3.
                </p>
                <a
                  href="https://github.com/EmekOfficial/responsivecss3portfolio"
                  class="card-link"
                  ><button type="button" class="btn btn-outline-info">
                    Github
                  </button></a
                >
              </div>
              <div class="card-footer text-body-secondary">30.01.2024</div>
            </div>
          </div>

          <!-- PROJECT CARD -->
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-3">
            <div class="card" style="width: 18rem">
              <div class="card-body">
                <h5 class="card-title">CSS Portfolio</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">
                  HTML5 and CSS
                </h6>
                <p class="card-text">
                  A simple trial portfolio site made using only HTML5 and CSS
                </p>
                <a
                  href="https://github.com/EmekOfficial/cssportfolio"
                  class="card-link"
                  ><button type="button" class="btn btn-outline-info">
                    Github
                  </button></a
                >
              </div>
              <div class="card-footer text-body-secondary">29.01.2024</div>
            </div>
          </div>

          <!-- PROJECT CARD -->
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-3">
            <div class="card" style="width: 18rem">
              <div class="card-body">
                <h5 class="card-title">Google 1998 Clone</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">
                  Bootstrap v5.2
                </h6>
                <p class="card-text">Google 1998 Clone with Bootstrap</p>
                <a
                  href="https://github.com/EmekOfficial/Google-1998-Clone"
                  class="card-link"
                  ><button type="button" class="btn btn-outline-info">
                    Github
                  </button></a
                >
              </div>
              <div class="card-footer text-body-secondary">27.09.2022</div>
            </div>
          </div>

          <!-- PROJECT CARD -->
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-3">
            <div class="card" style="width: 18rem">
              <div class="card-body">
                <h5 class="card-title">Bootstrap Music Page</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">
                  Bootstrap 4.5
                </h6>
                <p class="card-text">
                  A simple music website I made while learning Bootstrap
                </p>
                <a
                  href="https://github.com/EmekOfficial/odevs/tree/main/boostrap1"
                  class="card-link"
                  ><button type="button" class="btn btn-outline-info">
                    Github
                  </button></a
                >
              </div>
              <div class="card-footer text-body-secondary">15.07.2022</div>
            </div>
          </div>

          <!-- PROJECT CARD -->
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-3">
            <div class="card" style="width: 18rem">
              <div class="card-body">
                <h5 class="card-title">CSS Music Page</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">
                  HTML5 & CSS3
                </h6>
                <p class="card-text">
                  A simple music website I made while learning CSS
                </p>
                <a
                  href="https://github.com/EmekOfficial/odevs/tree/main/cssodev1"
                  class="card-link"
                  ><button type="button" class="btn btn-outline-info">
                    Github
                  </button></a
                >
              </div>
              <div class="card-footer text-body-secondary">13.07.2022</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
